<section class="chat-user-data">
    @if(this.chatState.chatState()?.chatId != undefined){
    <button ButtonIcon class="back" (click)="closeChat()">
        ←
    </button>
    <button-icon alt="user photo" (click)="this.openUserDetail()"
        [image]="this.userDetailState.userDetailSignal().data.photo">
    </button-icon>

    <p> {{ this.userDetailState.userDetailSignal()?.data?.userName }} </p>

    <div class="d-flex ms-auto">
        <label class="switch m-auto">
            <input type="checkbox" (change)="switchTranslation.chatsArrayState.set(!switchTranslation.chatsArrayState())">
            <span class="slider"></span>
        </label>

        <button type="button" ButtonIcon>
            <i class="fi fi-rr-phone-flip mt-2" style="font-size: 1.5rem;"></i>
        </button>

        <div class="d-block">
            <button type="button" ButtonIcon (click)="toggleDropdown()">
                <i class="fi fi-rr-menu-dots-vertical mt-5" style="font-size: 1.5rem;"></i>
            </button>
            <div #dropdown class="position-absolute dropdown" style="display:none;">
                <ul class="p-0">
                    <li>
                       @if(this.chatState.chatState()?.chatType != "group"){
                        <button type="button" class="dropdown-button" (click)="this.addContact()">
                            add to contacts
                        </button>
                       }
                    </li>
                    <li>
                        <button type="button" class="dropdown-button" (click)="this.openUserDetail()">
                            profile
                        </button>
                    </li>
                    <li>
                        @if(this.chatState.chatState()?.isActive == true){
                        <button type="button" class="dropdown-button" (click)="this.blockChat()">
                            block
                        </button>
                        }@else{
                        <button type="button" class="dropdown-button" (click)="this.unlockedChat()">
                            unlock
                        </button>
                        }
                    </li>
                    <li>
                        <button type="button" class="dropdown-button" (click)="deleteMessages()">
                            delete messages
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    }
</section>

@if(this.chatState.chatState()?.chatId != undefined ){

<section class="chat" id="chat" #chat (scroll)="onScroll()">

    @if(this.showEditMessage){
    <div class="message-edit-modal" #editMessageBox>
        <div class="message-edit-modal-header d-flex">
            <button class="btn-close my-auto mx-3" type="button" (click)="this.showEditMessage = false"> </button>
            <h3 class="my-auto ms-5"> Edit Message </h3>
        </div>
        <section class="d-flex flex-column p-5">
            <p> original message: "{{ messageTextOrigin }}"</p>
        </section>
        <div class="message-edit-modal-footer">
            <input type="text" (keydown.Enter)="this.editMessage()" class="p-2" placeholder="type your new message"
                #newMessageText>
            <button type="button" class="btn-send my-2 mx-3" (click)="this.editMessage()">
                <i class="fi fi-rr-paper-plane m-auto"></i>
            </button>
        </div>
    </div>
    }

    @for (item of this.messagesState.messageSignal(); track $index) {
    <message [isGroup]="false" [message]="item" (showEditMessage)="this.changeShowEdit($event)"
        [isYourMessage]="item.userId != this.userDetailState.userDetailSignal().data.userId">
    </message>
    }


</section>


<div class="chat-sender">
    @if(isRecording){
    <section class="d-flex w-100 justify-content-end p-2">
        <div class="me-5 d-flex">
            <button type="button" class="audio-btn" (click)="this.cancelAudio()">
                <i class="fi fi-rr-trash"></i>
            </button>
            <p class="text-white mx-3 my-auto"> {{ timeAudio * 1000 | date: 'mm:ss' }}</p>

            <div class="audio-wave"></div>
            <div class="audio-wave"></div>
            <div class="audio-wave me-5"></div>

            @if(isStoped == false){
            <button type="button" class="audio-btn" (click)="pauseAudio()">
                <i class="fi fi-rr-pause"></i>
            </button>
            }@else {
            <button type="button" class="audio-btn" (click)="resumeAudio()">
                <i class="fi fi-rr-play"></i>
            </button>
            }

            <button type="button" class="audio-btn mx-5" (click)="sendAudio()">
                <i class="fi fi-rr-paper-plane"></i>
            </button>

        </div>
    </section>
    }
    @if(this.chatState.chatState()?.isActive == true && this.isRecording == false){
    <div class="d-flex ms-auto">
        <button type="button" ButtonIcon>
            <i class="fi fi-rr-comment-smile" style="font-size: 1.3rem;"></i>
        </button>
        <button type="button" ButtonIcon (click)="chosenFile()">
            <i class="fi fi-rr-menu-dots-vertical" style="font-size: 1.3rem;"></i>
        </button>
        <input type="file" hidden class="file-sender">
    </div>

    <!-- <a href="#" id="img">dowload</a> -->
    <input type="text" #inputText class="chat-input" placeholder="write your message"
        (keydown.Enter)="this.sendMessage()">

    <button type="button" class="chat-button-mic mx-2" (click)="startRecording()">
        <i class="fi fi-rr-circle-microphone"></i>
    </button>
    }@else if(isRecording == false){
    <h4 class="m-auto text-white"> This chat is blocked ! </h4>
    }
</div>
}
@else {
<div class="w-100 d-flex flex-column align-items-center py-5" style="background-color:#a5d3fb; height: 100vh;">
    <h2 class="text-center mt-5 mb-5 text-dark ">
        Enjoy Just Translate <br>
        Chat with anyone!
    </h2>
    <img loading="eager" class="social-network-img" src="../../../../assets/redes.webp" alt="rede social">

    <article class="inform">
        Conversations are all private to just 2 users, except when sent to a group with more members!
    </article>
</div>
}

@if(this.source() != null){
<app-file-sender-chat [source]="this.source()" [nameSource]="this.sourceName()" [sourceType]="this.sourceType()"
    [sourceBlob]="this.sourceBlob()"></app-file-sender-chat>
}