<section class="chat-user-data">
    <button class="chat-button-emogi invert" (click)="closeChat()">
        →
    </button>
    <button-icon alt="teste"
        image="https://imgs.search.brave.com/ahZhx2klnGxFg24V5yC9nemnvdbslYDQoVF3AUGrWjw/rs:fit:500:0:0/g:ce/aHR0cHM6Ly9jZG4u/bHVjaWRwaWMuY29t/LzY1YWFjMjRiNzg5/MGUucG5n">
    </button-icon>

    <p class="mt-3"> User current name </p>

    <div class="d-flex ms-auto">
        <button type="button" class="chat-button-emogi">
            <i class="fi fi-rr-phone-flip mt-2" style="font-size: 1.5rem;"></i>
        </button>

        <div class="d-block">
            <button type="button" class="chat-button-emogi" (click)="toogleDroptDown(dropdown)">
                <i class="fi fi-rr-menu-dots-vertical mt-5" style="font-size: 1.5rem;"></i>
            </button>
            <div #dropdown class="position-absolute dropdown" style="display: none;">
                <ul class="p-0">
                    <li>
                        <button type="button" class="dropdown-button">
                            ver perfil
                        </button>
                    </li>
                    <li>
                        <button type="button" class="dropdown-button">
                            bloquear
                        </button>
                    </li>
                    <li>
                        <button type="button" class="dropdown-button">
                            limpar conversa
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="chat" id="chat">
    @for (item of this.messages; track $index) {
    <message [isGroup]="false" [sendAt]="item.sendAt" [isYourMessage]="item.username == 'nathalia'"
        [message]="item.message" [userName]="item.username">
    </message>
    }
</section>
<div class="chat-sender">
    <div class="d-flex ms-auto">
        <button type="button" class="chat-button-emogi">
            <i class="fi fi-rr-comment-smile" style="font-size: 1.3rem;"></i>
        </button>

        <button type="button" class="chat-button-emogi">
            <i class="fi fi-rr-menu-dots-vertical" style="font-size: 1.3rem;"></i>
        </button>
    </div>

    <input type="text" class="chat-input" placeholder="sender your message" (keyup.enter)="teste()">
    <button type="button" class="chat-button-mic mx-2">
        <i class="fi fi-rr-circle-microphone"></i>
    </button>
</div>