@import  "../../../styles.scss";

h1 {
    font-size: 2rem;
}


.btn {
    background-color: $white;
    border: none;
    border-radius: 0;
    width: 100%;
    display: flex;
    justify-content: start;
    padding: 20px;

    i{
        font-size: 2rem;
    }

    &:hover{
        background-color: $light;
    }
}

.warning{
    width: 75%;
    margin: auto;
    padding: 10px;
    display: flex;
    border: none;
    border-radius: 20px;
    color: $white;
    justify-content: center;
    background-color: $middleRed;
}


.back {
    display: flex;
    font-size: 2rem;
    justify-content: center;
    color: $dark !important;
}