@import "../../../../styles.scss";

.message {
    &-card {
        width: 100%;
        max-width: 300px;
        background-color: $white;
        height: auto;
        margin-top: 10px;
        margin-left: 10px;
        border-radius: 0 5px 5px 5px;
        padding: 10px;
        font-family: monospace;

        @include breakPoint(mobile-only){
            max-width: 200px;
        }
    }

    &-sender {
        font-size: 1.2rem;
        font-weight: bold;
        font-family: monospace;
        color: $boldRed;
    }

    &-text {
        font-size: 1.1rem;
        color: $dark;
        font-weight: 600;
    }
}

.me {
    background-color: $dark;
    margin-left: 50px;
    border-radius: 5px 0px 5px 5px !important;
    margin-left: auto;
    margin-right: 3%;

    p {
        color: $white ;
    }

    span{
        color: $lightGreen;
    }
}


.setLeft {
    width: 0;
    height: 0;
    rotate: 270deg;
    border-left: 15px solid transparent;
    border-bottom: 15px solid $white;
    position:absolute;
    /* Cor e tamanho do triângulo */

    &-me{
        border-bottom: 15px solid $dark;
        left: 96.5%;
        rotate: 180deg;
    }
}
