<div class="container mt-5">
    <h1> Change the password </h1>
    <p>Hello {{this.email()}} </p>
    <p> Here you can change your password <br> Enter your new password in the field below, and then send
    </p>
    <form id="emailForm">

        <label for="password"> Type your new password: </label>

        <div class="w-100 d-flex">
            <input type="password" class="control" #passwordInput id="password" formControlName="password"
                placeholder="type your password">
            <div class="line"></div>
            <i [classList]="this.passwordIsVisible == false? 'fi fi-rr-eye m-2':'fi fi-rr-eye-crossed m-2' "
                (click)="this.toggleVisiblePassword()"></i>
        </div>
        @if(this.showWarning){
            <span class="text-danger mb-3"> Invalid password, the password must contain at least: - 8 digits - 1 special character - 1 uppercase letter - 1 lowercase letter - 1 number </span>
        }
        <button type="button" class="btn-send" [routerLink]="'/auth/sign-in'" (click)="this.changePassword(passwordInput.value)">Send</button>

    </form>
    <p>If you have already change the password, please ignore this email.</p>
    <p>Thank you!</p>
</div>
<div class="footer">
    <p>&copy; 2024 Just Translate. All rights reserved.</p>
</div>

<app-warnig></app-warnig>