<div class="group">

    <h1 class="ms-3">Groups</h1>
    <form>
        <fieldset class="form-group m-auto w-100 my-3 px-3 position-relative">
            <input type="text" class="control-search" id="userName" placeholder="Search groups">
            <i class="fi fi-rr-search search-icon"></i>
        </fieldset>
    </form>
    <section class="data-chats-notifications d-flex flex-column">
        @if(this.groupArrayState.groupSignal().length == 0){
        <p class="mx-auto my-3 text-secondary text-center"> you dont have groups <br> create one </p>
        <button type="button" class="invite" [routerLink]="['/home/add/group']" >
            <i class="fi fi-rr-add" style="font-size: 1.5rem;"></i>
        </button>
        }
        @for (item of this.groupArrayState.groupSignal(); track $index) {
        <app-group-notification [chatData]="item"></app-group-notification>
        }
    </section>
</div>