@import "../../styles.scss";

.search-icon {
    position: absolute;
    left: 15%;
    bottom: 23%;
    color: $lightDark;

    @include breakPoint(tablet-up) {
        left: 9%;
        bottom: 30%;
    }

    @include breakPoint(mobile-only) {
        left: 18%;
        bottom: 20%;
    }
    
    @include breakPoint(desktop-up) {
        left: 12%;
        bottom: 25%;
    }
}

.control-search {
    width: 100%;
    height: 6vh;
    border-radius: 20px;
    outline: none;
    border: none;
    padding-inline: 50px;
    position: relative;
}

.data-chats-notifications {
    padding-bottom: 160px;
    height: 100%;
    overflow: hidden;
    overflow-y: scroll;
}
