

<div class="user">
    <button-icon alt="userPhoto" image="../assets/icons/do-utilizador.png"></button-icon>
    <p class="text-center mt-3"> User Name </p>
</div>
<section class="data-area-session">
    <button class="session">
        <p class="m-auto">conversas</p>
    </button>
    <button class="session">
        <p class="m-auto"> grupos </p>
    </button>
    <button class="session">
        <p class="m-auto"> fórums </p> 
    </button>
    <button class="session">
        <p class="m-auto"> contatos </p>
    </button>
</section>

<section class="data-chats">
    <router-outlet></router-outlet>
</section>
