
<div class="d-flex">
    <app-user-area></app-user-area>

    <div class="d-block" style="width: 100% !important;">
        <div class="user ps-2">
            <button-icon alt="userPhoto" image="../assets/icons/do-utilizador.png"></button-icon>
            <p class="text-center mt-3"> User Name </p>
            <div class="d-flex ms-auto">
                <button type="button" ButtonIcon>
                    <i class="fi fi-rr-square-plus" style="font-size: 1.3rem;"></i>
                </button>
                <button type="button" ButtonIcon>
                    <i class="fi fi-rr-menu-dots-vertical" style="font-size: 1.3rem;"></i>
                </button>
            </div>
        </div>
        <section class="data-chats">
            <router-outlet></router-outlet>
        </section>
    </div>
</div>