@import "../../../styles.scss";

.data {
    &-area {
        &-session {
            background-color: $white;
            padding-inline: 10px;
            padding-block-end: 15px;
            display: flex;
            justify-content: space-between;

            .session {
                width: 23%;
                height: 10vh;
                background-color: $lightPurple;
                color: $white;
                display: flex;
                font-family: cursive;
                font-size: 1.2rem;
                border: none;
                border-radius: 0 0 20px 20px;
                box-shadow: 5px 5px 12px #3a3a3a;
                transition: 200ms linear;

                &:hover {
                    height: 15vh;
                    cursor: pointer;
                    transition: 200ms linear;
                }
            }
        }
    }


    &-chats {
        width: 100%;
        height: 85vh;
        color: $light;

        &-notifications {
            padding: 20px;
            padding-bottom: 50px;
            height: 100%;
            overflow: hidden;
            overflow-y: scroll;
        }
    }
}

.user {
    display: flex;
    width: auto;
    padding: 3px;
    background-color: $boldPurple;
    gap: 10px;
    color: $light;
    font-weight: 600;
    align-items: center;

    p{
        font-size: 1.3rem;
    }
}
