<section class="conversation">
    <h1 class="ms-3">Conversations</h1>
    <form>
        <fieldset class="form-group m-auto w-100 my-3 px-3 position-relative" (keyup)="filterConversations()">
            <input type="text" class="control-search" id="userName" placeholder="Search conversation">
            <i class="fi fi-rr-search search-icon"></i>
        </fieldset>
    </form>
    <section class="data-chats-notifications d-flex flex-column">
        @if(
        this.chatsArrayState?.chatsArrayState()?.length != 0 &&
        this.chatsArrayState?.chatsArrayState()?.length != undefined
        ){

        @for (item of this.chatsArrayState?.chatsArrayState(); track $index) {

        <notification-chat [chatData]="item"></notification-chat>
        }

        }@else if(this.chatsArrayState.chatsArrayState()?.length == 0 && this.cache?.length > 0){
        <h3 class="mx-auto"> Chat not found </h3>
        }

        @if(
        (this.chatsArrayState?.chatsArrayState()?.length == 0 || this.chatsArrayState?.chatsArrayState()?.length == undefined) &&
        (this.cache?.length == undefined || this.cache?.length == 0)
        ){
        <div class="flex flex-column text-center">

            <p class="text-secondary"> invite your friends ! </p>
            <button type="button" class="invite" (click)="this.inviteFriends(content)">
                <i class="fi fi-rr-add" style="font-size: 1.5rem;"></i>
            </button>
        </div>
        }
    </section>
</section>

<ng-template #content let-modal>
    <div class="modal-body mt-5">
        <form>
            <div class="mb-3 d-flex flex-column">
                <p class="text-center text-secondary"> Please choose the social network to share with your friends </p>

                <div class="d-flex">
                    <a class="share-button"
                        href="https://www.facebook.com/sharer/sharer.php?u=https://sua-aplicacao.com" target="_blank"
                        style="text-decoration: none;">
                        <i class="fi fi-brands-facebook"></i>
                    </a>

                    <a class="share-button"
                        href="https://wa.me/?text=Venha%20para%20o%20Just%20Translate!%20Quebre%20barreiras%20e%20converse%20com%20qualquer%20pessoa,%20em%20qualquer%20idioma.%20https://justtranslate.com"
                        target="_blank" style="text-decoration: none;">
                        <i class="fi fi-brands-whatsapp"></i>
                    </a>

                    <a class="share-button"
                        href="https://twitter.com/intent/tweet?text=Venha%20para%20o%20Just%20Translate!%20Quebre%20barreiras%20e%20converse%20com%20qualquer%20pessoa,%20em%20qualquer%20idioma.%20https://justtranslate.com"
                        target="_blank" style="text-decoration: none;">
                        <i class="fi fi-brands-twitter"></i>
                    </a>

                    <a class="share-button"
                        href="https://www.linkedin.com/feed/?linkOrigin=LI_BADGE&shareActive=true&shareUrl=https://meulink.com"
                        target="_blank" style="text-decoration: none;">
                        <i class="fi fi-brands-linkedin"></i>
                    </a>
                </div>

                <button type="button" class="btn btn-outline-dark w-75 m-auto" (click)="modal.close()">ok</button>
            </div>
        </form>
    </div>
</ng-template>