@import "../../shared/chatsSessions.scss";

h1 {
    font-size: 2rem;
}

.invite{
    border: 0px none;
    background-color: transparent;
}


.conversation{
    height: 100vh;
}

.share-button{
    margin-inline: 20px;
    margin: auto;
    
    i{
        font-size: 2rem;
        color: black;
    }
}