<div class="d-flex">
    <button ButtonIcon class="back" [routerLink]="'/home/configuration'">
        ←
    </button>
    <h1 class="ms-3"> Perfil </h1>
</div>

<section class="container-fluid p-0">
    <div class="edit-photo d-flex">
        <button ButtonIcon class="m-auto">
            <img loading="lazy" alt="user photo" src="../../../../../assets/fabio.png">
        </button>
    </div>

    <form class="d-flex flex-column mt-5 p-3 pt-5">
        <fieldset class="form-group m-auto w-100">
            <label for="userName" class="label"> User name: </label>
            <input type="text" class="control" id="userName" placeholder=" change your user name">
            <div class="line"></div>
        </fieldset>
        <fieldset class="form-group m-auto w-100">
            <label for="userDescription" class="label"> User description: </label>
            <input type="text" class="control" id="userDescription" placeholder=" change your user description">
            <div class="line"></div>
        </fieldset>

        <fieldset class="form-group m-auto mt-3">
            <label for="userlanguage" class="label"> language: </label>
            <select class="control" id="userlanguage" placeholder="change language of system" size="1">
                <option value="pt-br"> portuguese (Brasil)</option>
                <option value="en"> English </option>
                <option value="deutch"> German </option>
                <option value="spa"> Spanish </option>
            </select>
            <div class="line"></div>
        </fieldset>

        <button type="button" class="mt-3" buttonStyle> Save </button>
    </form>
</section>