@import  "../../../../../styles.scss";
@import  "../../../../shared//styles/forms.scss";

.edit{
    &-photo{
        width: 100%;
        height: 10vh;
        background-color: $iceBlue;
        
        button{
            width: 40% !important;
        }

        img{
            width: 150px;
            height: 150px;
            margin: auto;
            border-radius: 50%;
        }
    }
}

.back{
    display: flex;
    font-size: 2rem;
    justify-content: center;
    color: $dark !important;
}

h1 {
    font-size: 2rem;
}