
<div class="d-flex">
    <section class="data-area-session">
        <button (click)="this.selectSection($event)" class="session" [routerLink]="'/home/add'" placement="right" ngbTooltip="add conversation">
            <i class="fi fi-rr-add m-auto"></i>
        </button>
        <button (click)="this.selectSection($event)" class="session" [routerLink]="'/home/conversation'" placement="right" ngbTooltip="conversations">
            <i class="fi fi-rr-comment m-auto"></i>
        </button>
        <button (click)="this.selectSection($event)" class="session" [routerLink]="'/home/group'" placement="right" ngbTooltip="groups">
            <i class="fi fi-rr-users-alt m-auto"></i>
        </button>
        <button (click)="this.selectSection($event)" class="session" [routerLink]="'/home/contact'" placement="right" ngbTooltip="contacts">
            <i class="fi fi-rr-user m-auto"></i>
        </button>

        <div class="mt-auto d-flex flex-column align-items-center" style="margin-bottom:4rem">
            <button (click)="this.selectSection($event)" class="session mb-2" [routerLink]="'/home/configuration'" placement="right" ngbTooltip="configuração">
                <i class="fi fi-rs-settings m-auto"></i>
            </button>

            <button-icon class="userIcon" alt="user photo" (click)="this.selectSection($event)" [image]="this.userState.userSignal()?.photo || '../../../assets/icons/do-utilizador.png' " [routerLink]="'/home/edit-user'" ></button-icon>
        </div>
    </section>
</div>