@import "../../../styles.scss";

.data {
    &-area {
        &-session {
            background-color: rgba(221, 221, 221);
            width: 60px;
            height: 100vh;
            display: flex;
            flex-direction: column;

            .session {
                width: 90%;
                height: 8vh;
                background-color: $white;
                border-radius: 10px;
                margin: 5%;
                color: $blackCarbon;
                display: flex;
                font-family: cursive;
                font-size: 1.2rem;
                border: none;
                display: flex;
                transition: 200ms linear;

                &:hover {
                    cursor: pointer;
                    transition: 200ms linear;
                    color: $light;
                    background-color: $dark;
                }
            }
        }
    }


    &-chats {
        width: 100%;
        height: 85vh;
        color: $light;
    }
}

.user {
    display: flex;
    width: auto;
    padding: 3px;
    background-color: rgb(0 0 0 / 79%);;
    gap: 10px;
    color: $light;
    font-weight: 600;
    align-items: center;

    p{
        font-size: 1.3rem;
    }
}
