
<div class="d-flex">
    <section class="data-area-session">
        <button class="session" [routerLink]="'/home/conversation'" placement="right" ngbTooltip="conversas">
            <i class="fi fi-rr-comment m-auto"></i>
        </button>
        <button class="session" [routerLink]="'/home/group'" placement="right" ngbTooltip="grupos">
            <i class="fi fi-rr-users-alt m-auto"></i>
        </button>
        <button class="session" [routerLink]="'/home/contact'" placement="right" ngbTooltip="contatos">
            <i class="fi fi-rr-user-add m-auto"></i>
        </button>
    </section>
</div>