<div class="container-fluid p-0 p-md-3 h-100">
    <div class="data-area">
        <div class="user">
            <button-icon alt="teste" image="../assets/icons/do-utilizador.png"></button-icon>
            <p class="text-center mt-3"> User Name </p>
        </div>
        <form>
            <fieldset class="form-group m-auto w-100 my-3 px-5 position-relative">
                <input type="text" class="control-search" id="userName" placeholder="Search conversation">
                <i class="fi fi-rr-search search-icon"></i>
            </fieldset>
        </form>
        <section class="data-chats">
            <p>teste</p>
            <p>teste</p>
            <p>teste</p>
            <p>teste</p>
            <p>teste</p>
            <p>teste</p>
            <p>teste</p>
            <p>teste</p>
            <p>teste</p>
            <p>teste</p>
            <p>teste</p>
        </section>
    </div>
</div>