@import "../../../styles.scss";

.data {
    &-area {
        background-color: $light;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        width: 100%;
        
        @include breakPoint(notebook-up) {
            width: 30%;
        }
    }

    &-chats{
        display: flex;
        flex-direction: column;
        width: 100%;
        overflow: hidden;
        
        @include breakPoint(notebook-up) {
            margin-inline-start: 5px;
            width: 70%;
        }
    }
}