@import "../../../styles.scss";

.data {
    &-area {
        background-color: $light;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        width: 100%;
        
        @include breakPoint(notebook-up) {
            border-radius: 20px 0 0 20px;
            width: 30%;
        }
    }

    &-chats{
        display: flex;
        flex-direction: column;
        width: 100%;
        border-radius: 0px 20px 0px 0px;
        overflow: hidden;
        
        @include breakPoint(notebook-up) {
            margin-inline-start: 5px;
            width: 70%;
        }
    }
}