<div class="d-flex">
    <button ButtonIcon class="back" [routerLink]="'/home/privacy'">
        ←
    </button>
    <h1 class="ms-3"> Edit privacy </h1>
</div>

<section class="container-fluid p-0 d-flex flex-column ">
    <form class="d-flex flex-column p-3">
        <fieldset class="form-group m-auto w-100 my-4">
            <label for="v" class="label"> email: </label>
            <input type="text" class="control" id="email" placeholder=" change your email">
            <div class="line"></div>
        </fieldset>
        <fieldset class="form-group m-auto w-100">
            <label for="password" class="label"> Password: </label>
            <input type="password" class="control" id="password" placeholder=" change your password">
            <div class="line"></div>
        </fieldset>

        <button type="button" class="mt-3" buttonStyle> Save </button>
    </form>
</section>