@import  "../../../../../styles.scss";
@import  "../../../../shared/styles/forms.scss";

h1 {
    font-size: 2rem;
}

.back{
    display: flex;
    font-size: 2rem;
    justify-content: center;
    color: $dark !important;
}