<div class="d-flex">
    <button ButtonIcon class="back" [routerLink]="'/home/privacy'">
        ←
    </button>
    <h1 class="ms-3"> Edit privacy </h1>
</div>

<section class="container-fluid p-0 d-flex flex-column">
    <form class="d-flex flex-column p-3" [formGroup]="this.privacyDataForm">
        <fieldset class="form-group m-auto w-100 my-4">
            <label for="v" class="label"> email: </label>
            <input type="text" class="control" id="email" formControlName="email" placeholder=" change your email">
            <div class="line"></div>
            @if(this.spans[0]){
            <span>
                <p class="text-danger"> please insert a correct email </p>
            </span>
            }
        </fieldset>
        <fieldset class="form-group m-auto w-100">
            <label for="password" class="label"> Password: </label>
            <div class="d-flex w-100">
                <div class="w-100">
                    <input [type]="this.passwordIsVisible?'text':'password' " class="control" id="password"
                        formControlName="password" placeholder=" change your password">
                    <div class="line"></div>
                </div>
                <i [classList]="this.passwordIsVisible == true? 'fi fi-rr-eye mt-2':'fi fi-rr-eye-crossed mt-2' "
                    (click)="this.passwordIsVisible = !this.passwordIsVisible"></i>
            </div>
            @if(this.spans[1]){
            <span>
                <p class="text-danger"> the password must contain at least: <br> 8 digits <br> 1 special character <br>
                    1 uppercase letter <br> 1 lowercase letter <br> 1 number </p>
            </span>
            }
        </fieldset>

        <button type="button" class="mt-3" buttonStyle (click)="updatePrivacyData()"> Save </button>
    </form>
</section>