@import  "../../../../../styles.scss";
@import  "../../../../shared/forms.scss";

.social {
    color: rgb(123, 117, 117);
    align-items: center;
}

.recover-password {
    font-weight: 500;

    &:hover {
        color: $blackCarbon !important;
    }
}

.fi-rr-eye {
    cursor: pointer;
}

p{
    @include breakPoint(mobile-only){
        font-size: 10px;
    }
}