<a routerLink="/auth/sign-in" class="btn-back text "> <i class="fi fi-rr-arrow-small-left"></i>back </a>

<form class="d-flex flex-column mt-4 px-2">
    <fieldset class="form-group m-auto mt-3 w-100">
        <label for="email" class="label"> enter your email : </label>
        <input type="text" class="control" #email id="email" placeholder="type your email">
        <div class="line"></div>
    </fieldset>
    <button type="button" (click)="recoverPassword(content)" buttonStyle style="margin-top: 50px;"> Recover password </button>
</form>

<ng-template #content let-modal>
    <div class="modal-body mt-5">
        <form>
            <div class="mb-3 d-flex flex-column">
                <p class="text-center text-secondary"> An email has been sent to you, please check and change your password </p>
                <button type="button" class="btn btn-outline-dark w-75 m-auto" [routerLink]="'/auth/sign-in'"  (click)="modal.close()">ok</button>
            </div>
        </form>
    </div>
</ng-template>