@import "../../shared/chatsSessions.scss";


.add {
    height: 100vh;
}

h1 {
    font-size: 2rem;
}


.btn-group {
    background-color: $lightGreen;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: $white;

    i {
        margin: auto;
        font-size: 1.5rem;
    }
}

.btn {
    background-color: $white;
    border: none;
    border-radius: 0;
    width: 100%;
    display: flex;
    justify-content: start;
    padding: 20px;

    i{
        font-size: 1rem;

        @include breakPoint(desktop-up){
            font-size: 2rem;
        }
    }

    &:hover{
        background-color: $light;
    }
}

.contacts{
    overflow: hidden;
    overflow-y: scroll;
    height: 50vh;
}