<section class="add">
    <h1 class="ms-3">Add conversations</h1>

    <form>
        <fieldset class="form-group m-auto w-100 my-3 px-3 position-relative">
            <input type="text" class="control-search" #query placeholder="Search the user by name or email">
            <i class="fi fi-rr-search search-icon"></i>
        </fieldset>
    </form>

    <article class="my-3">
        <button class="btn w-100" type="button" [routerLink]="'/home/add/group'">
            <div class="btn-group" placement="right" ngbTooltip="add group">
                <i class="fi fi-rr-users-medical"></i>
            </div>
            <h4 class="my-auto mx-3"> New Group </h4>
        </button>
    </article>
    <hr>
    <article class="my-3 d-flex flex-column">
        <h4 class="mx-auto"> Persons in Just Translate </h4>

        <div class="contacts py-3 d-flex flex-column" #contacts>
            @if(this.filtedListUsers().length > 0){
            @for (item of this.filtedListUsers(); track item.userId) {
            @defer (when item.photo != undefined; hydrate on idle) {
            <app-contact-search [user]="item">
            </app-contact-search>
            }@loading(minimum 500ms){
            <div class="d-flex">
                <ngx-skeleton-loader appearance="circle" [theme]="{ width: '80px', height: '80px' }">
                </ngx-skeleton-loader>
                <div class="my-3">
                    <ngx-skeleton-loader [theme]="{
                                                        width: '200px',
                                                        'border-radius': '0',
                                                        height: '15px',
                                                        'margin-bottom': '10px'
                                                    }"></ngx-skeleton-loader>

                    <ngx-skeleton-loader [theme]="{
                                                        width: '150px',
                                                        'border-radius': '0',
                                                        height: '15px',
                                                        'margin-bottom': '10px'
                                                    }"></ngx-skeleton-loader>
                </div>
            </div>
            }
            }
            }@else if(query.value != ""){
                <h3 class="m-auto mb-auto"> no user found with that name </h3>
            }
        </div>

    </article>
</section>