
@import "../../../shared/forms.scss";
@import "../../../../styles.scss";

.btn-back {
    border: none;
    padding: 5px;
    color: $boldDark;
    text-decoration: none;
    margin-left: auto;
    border-radius: 13px;
    box-shadow: -5px 5px 15px #cfcfcf,
        5px -5px 15px #ffffff;
}
