
<div class="position-relative">
    <section class="contact-box d-flex flex-column" tabindex="0" [routerLink]="'/home/conversation'"
        (click)="this.openChat()">
        <div class="d-flex">
            <img class="contact-photo" [src]="this.contact().photo"
                [alt]="'photo of' + this.contact().userName">

            <div class="flex flex-column ms-3 mb-3 my-auto">
                <p class="text-dark"> {{ this.contact().userName }} </p>
            </div>
            <i style="font-size: 1.5rem;" class="ms-auto my-auto fi fi-rr-menu-dots-vertical dots"
                (click)="this.openDropDown($event)"></i>
        </div>
    </section>

    <div #dropdown [attr.data-dropdown-id]="contact().userId" [class.visible]="isVisibleDropDown" class="dropdown">
        <button class="dropdown-btn m-1 d-flex align-items-center justify-content-center"
            (click)="this.isVisibleDropDown = false">
            ←
        </button>
        <button class="dropdown-btn m-1" (click)="this.deleteContact()">
            <i class="ms-auto my-auto fi fi-rr-trash"></i>
        </button>
        <button class="dropdown-btn m-1" routerLink="/home/add-user-to-group">
            <i class="fi fi-rr-apps-add"></i>
        </button>
    </div>
    

</div>
