<h1 class="ms-3">Configurations</h1>

<section class="configuration">
    <button class="btn" [routerLink]="'/home/edit-user'">
        <img class="image-perfil" src="../assets/icons/do-utilizador.png" alt="user name">
        <div class="ms-3 d-flex flex-column text-start">
            <h5> User name </h5>
            <p>user description</p>
        </div>
    </button>
    <hr>
    <button class="btn">
        <i class="fi fi-rs-circle-user mt-2 mx-3"></i>
        <p class="my-auto"> Account </p>
    </button>
    <button class="btn">
        <i class="fi fi-rr-lock mt-2 mx-3"></i>
        <p class="my-auto"> Privacy </p>
    </button>
    <button class="btn">
        <i class="fi fi-rr-sign-out-alt mt-2 mx-3 text-danger"></i>
        <p class="my-auto text-danger"> Disconnect </p>
    </button>
</section>