@import "../../../../styles.scss";

.chat-image-zoom {

    &-container {
        position: absolute;
        width: 100%;
        height: 100vh;
        top: 0;
        z-index: 600;
        display: flex;
        background-color: rgba(0, 0, 0, 0.7);
        padding-top: 20px;

        @include breakPoint(notebook-up) {
            width: 70%;
        }
    }

    &-box {
        width: 90%;
        height: 95%;
        margin: auto;
        background-color: $white;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        overflow-y: scroll;
        
        .image {
            width: 100%;
            overflow: hidden;
            overflow-y: scroll;
            border: none;
            object-fit: cover;
            margin: auto;
            display: block;

            @include breakPoint(mobile-only){
                width: 90%;
            }
        }
    }
}


.btn-close{
    font-size: 1rem !important;
    padding: inherit !important;
}